/* base css start */

body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    overflow-x: hidden;
}

.pt-5 {
    padding-top: 50px;
}

.pb-3 {
    padding-bottom: 30px;
}

/* base css end */




/* slide-1 start */

#frog-speak {
    box-sizing: border-box;
    user-select: none;
    padding: 40px;
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    /* position: relative; */
    background-image: url('../assets/frogBackground.jpg');
}

.frog-speak-container {
    width: 100%;
    height: 100%;
    gap: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* position: absolute; */
    /* position: relative; */
    /* bottom: 0; */
    /* left: 0; */
}

.frog-speak_img {
    width: 50%;
    height: 50%;
    cursor: pointer;
}

.typewriter {
    font-size: 3rem;
    width: 80%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    transition: all 0.3s ease-in-out;
}

@media (max-width: 1024px) {
    #frog-speak {
        flex-direction: column;
        height: 100%;
    }

    .frog-speak-container {
        gap: 20px;
        width: 100dvw;
        height: 50dvh;
    }

    .reverse {
        flex-direction: column-reverse;
    }

    .typewriter {
        max-width: 80%;
        position: static;
        text-align: center;
        font-size: 1rem;
        /* top: 0; */
        /* right: -50%; */
    }

}


/* @keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
} */

/* slide-1 end */